.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  z-index: 100;
}

.nav__container__actions ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__container__actions li {
  margin: 0 15px;
  font-size: 1rem;
  display: inline;
}

.nav__container__actions .title{
  font-size: 1.2rem;
  font-weight: 900;
}

.nav__container__actions a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav__container__actions a:hover {
  color: #007bff;
  cursor: pointer;
}

.nav__container__actions a.active,
.nav__container__actions a:focus {
  color: #007bff;
  font-weight: 500;
  text-decoration: underline;
}
